<!DOCTYPE html>
<html>

<head>
        <% include ../head.ejs %>
        <% include ../mapscript.ejs %>
        <link href="/leaflet-measure/dist/leaflet-measure.css" rel="stylesheet">
        <script src="/leaflet-measure/dist/leaflet-measure.js" charset="utf-8"></script>

</head>
<% include ../alertscript.ejs %>
<body>
    <% include ../navbar.ejs %>


        <div id="map"></div>
        <% include ../mymapAdmin.ejs %>


</body>

</html>