<!DOCTYPE html>
<html>

<head>
    <% include ../head.ejs %>
</head>

<body>
    <% include ../navbar.ejs %>
        <div style="margin: 5%">
            <form class="ui form" method="POST" action="/register">
                <h1 class="ui dividing header">Register</h1>
                <div class="field">
                    <label>Name*</label>
                    <div class="two fields">
                        <input type="hidden" name="pass" value="Requestor">
                        <div class="field">
                            <input type="text" name="firstName" placeholder="First Name" required>
                        </div>

                        <div class="field">
                            <input type="text" name="lastName" placeholder="Last Name" required>
                        </div>

                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>E-Mail*</label>
                        <input type="text" name="email" placeholder="E-Mail" required>
                    </div>

                    <div class="field">
                        <label>Tel*</label>
                        <input type="text" name="tel" placeholder="088-2370814" required>
                    </div>

                </div>

                <div class="two fields">

                    <div class="field">
                        <label>UserName*</label>
                        <input type="text" name="username" placeholder="UserName" required>
                    </div>

                    <div class="field">
                        <label>Password*</label>
                        <div class="two fields">

                            <div class="field">
                                <input type="password" name="password" placeholder="Password" required>
                            </div>

                            <div class="field">
                                <input type="password" name="passwordConf" placeholder="Confirm Password" required>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>House No.*</label>
                                <input type="text" name="number" placeholder="21/252">
                            </div>

                            <div class="field">
                                <label>Vilage No.*</label>
                                <input type="text" name="moo" placeholder="3 ริมลาว">
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Sub-district*</label>
                                <input type="text" name="tumbol" placeholder="ป่าอ้อดอยชัย" required>
                            </div>

                            <div class="field">
                                <label>District*</label>
                                <input type="text" name="district" placeholder="เมือง" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Province*</label>
                                <input type="text" name="province" placeholder="เชียงราย" required>
                            </div>

                            <div class="field">
                                <label>Postal Code*</label>
                                <input type="text" name="postcode" placeholder="57000" required>
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class="field">
                            <label>Country*</label>
                            <input type="text" name="country" placeholder="Thailand" required>
                        </div>
                    </div>

                </div>



                <div>
                    <div class="file-upload">
                        <b>1.Front of driving license</b>
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picFront" style="width: 225px" required>
                        <br>
                        <br>
                        <b>2.Backside driving license</b>
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picBack" style="width: 225px" required>
                        <br>
                        <br>
                        <b>3.Driving license and Owner driving license(your face and driving license)</b>
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picOwn" style="width: 225px" required>
                    </div>
                </div>
        </div>


        <center>
            <button type="submit" class="positive ui button">Submit</button>
            <br>
            <br>
        </center>
        </form>
</body>

</html>