<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
    <div><br><br></div>
        <div style="margin:5%;">
            <center>
                <h1>Change your password</h1>
            </center>
            <div class="three fields">
                <div class="field">
                    <label>New password</label>
                    <input type="password" id="password" class="form-control">
                </div>
                <div class="field">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" id="ConfPassword">
                </div>
                <br>
                <center>
                    <div class="field">
                        <input type="button" class="ui button" id="submit" value="Save">
                    </div>
                </center>
            </div>


        </div>

</body>
<script>
    $("#submit").on("click",function(){
        var password = $("#password").val();
        var ConfPassword = $("#ConfPassword").val();
        if(password=="" ||ConfPassword==""){
            swal("Password is empty","","warning");
        }else if(password != ConfPassword){
            swal("Password don't match","","warning");
        }else{
            $.ajax({
                type : "POST",
                url : "/users/changepassword",
                data : {
                    '_token': $('input[name=_token]').val(),
                    password : password
                },
                success : function(data){
                    if(data){
                        swal("Password has changed","","success");
                        setInterval(function(){
                            window.location.href = "/showbike";
                        },3000)
                    }else{
                        swal({
                            title:"Error",
                            html : data,
                            type : "error"
                        });
                    }
                }
            })
        }
    });
</script>

</html>