<!-- <title>Cloud-based Motorcycle Rental Management and Inspection System</title> -->
<title>Morcyc4you</title>
<link rel="shortcut icon" href="/images/tile23.png" />
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Jquery End -->

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bootstrap END -->

<!-- SEMANTIC UI -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<!-- SEMANTIC UI  END -->

<!-- easytimer -->
<script src="/javascripts/easytimer.js"></script>
<!-- easytimer END -->

<!-- sweet alert -->
<script src="https://unpkg.com/sweetalert2@7.19.1/dist/sweetalert2.all.js"></script>
<!-- sweetalert end -->

<!-- progress bar -->
<script src="/javascripts/pane.js"></script>
<link rel="stylesheet" href="/stylesheets/pace-loading-bar-blue.css">
<!-- progress bar END -->

<!-- socket io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>var socket = io.connect();</script>
<!-- socket io end -->

<!-- google translate -->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- google translate END -->

<!-- unlock -->
<link rel="stylesheet" href="/stylesheets/slide-unlock.css">
<script src="/javascripts/jquery.slideunlock.js"></script>
<!-- unlock END -->



<!-- W3 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    /* Set the width of the sidebar to 120px */

    .w3-sidebar {
        width: 120px;
        background: #222;
    }

    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

    #main {
        margin-left: 120px
    }

    /* Remove margins from "page content" on small screens */

    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }

    #example1 {
        border: 1px solid black;
        background: url(CtCJFxWUEAAs24i.jpg);
        background-repeat: no-repeat;
        padding: 15px;
    }
</style>
<!-- W3 END -->

<!-- map -->
<style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

    #map {
        height: 80%;
        z-index: 10;
    }

    #ridingMap {
        height: 65%;
    }

    .leaflet-routing-container {
        display: none;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        /* margin: 3%; */
        padding: 0;
    }

    .top {
        padding-top: 3%;
        width: 100%;
        height: 25%;
    }

    .bot {
        width: 100%;
        height: 8%;
    }

    body {
        /*background-image: url("bg_17_ZX1000XHFA_GY3_09839-1.jpg");*/
        background-color: #FFFFFF;
    }

    .morcyc {
        cursor: pointer;
    }

    #booking {
        cursor: pointer;
    }

    html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
        height: 0;
    }

    /* for ios */
</style>
<!-- map END -->

<!-- google translate script -->
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
    navigator.getBattery().then(function (battery) {
        function updateAllBatteryInfo() {
            updateChargeInfo();
            updateLevelInfo();
            updateChargingInfo();
            updateDischargingInfo();
        }
        updateAllBatteryInfo();

        battery.addEventListener('chargingchange', function () {
            updateChargeInfo();
        });
        function updateChargeInfo() {
            console.log("Battery charging? "
                + (battery.charging ? "Yes" : "No"));
        }

        battery.addEventListener('levelchange', function () {
            updateLevelInfo();
        });
        function updateLevelInfo() {
            console.log("Battery level: "
                + battery.level * 100 + "%");
        }

        battery.addEventListener('chargingtimechange', function () {
            updateChargingInfo();
        });
        function updateChargingInfo() {
            console.log("Battery charging time: "
                + battery.chargingTime + " seconds");
        }

        battery.addEventListener('dischargingtimechange', function () {
            updateDischargingInfo();
        });
        function updateDischargingInfo() {
            console.log("Battery discharging time: "
                + battery.dischargingTime + " seconds");
        }

    });
</script>
<!-- google translate srcipt END -->