<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <% include mapscript.ejs %>
</head>

<body>
    <!-- <% include navbar.ejs %> -->
    <center>
        <div class="row" style="position: absolute;z-index: 100; width: 100%;">
            <br>
            <center>
                <h1 style="text-shadow: 0 0 20px darkgray;">MORCYC4YOU</h1>
            </center>
            <div class="col-md-6" style="padding-right: unset;">

                <!-- เว้นบรรทัด -->
                <div style="margin-top: 10%;"></div>
                <!-- เว้นบรรทัด -->
                <center>
                    <img src="/images/tile3.png" style="height: 50%; width: 50%">
                </center>

            </div>


            <div class="col-md-6" style="padding-right: unset;">
                <!-- เว้นบรรทัด -->
                <div style="margin-top: 10%;"></div>
                <!-- เว้นบรรทัด -->
                <center>
                    <div style="background-color: white; width: 70%; padding: 6%; border-radius: 10px; box-shadow: 0 0 20px darkgray;">

                        <div class="ui small buttons">
                            <button class="ui button" id="login" style="border-radius: 5px;">Sign in</button>
                            <div class="or"></div>
                            <a href="/register">
                                <button class="ui button">Register</button>
                            </a>
                        </div>
                        <!-- <form action="/login" method="post"> -->
                        <div id="fromlogin2"></div>
                        <!-- </form> -->

                    </div>
                </center>



            </div>

        </div>
    </center>
    <div id="mapLogin" style="position: relative; overflow: hidden; z-index: 10;"></div>

    <script>
        $("body").scroll(function (e) { e.preventDefault() });

        var fromlogin = [

            '<!-- เว้นบรรทัด --> <div style="margin-top: 1%;"></div> <!-- เว้นบรรทัด -->',
            '<H1> LOG-IN </H1>',

            '<div class="ui left icon input fluid" style="width:200px"><i class="user icon"></i><input type="email" name="email" placeholder="E-mail address" id="email" required></div>', '<br>',
            '<div class="ui left icon input fluid" style="width:200px"><i class="lock icon"></i><input type="password" name="password" placeholder="Password" id="password" required></div>',

            '<!-- เว้นบรรทัด --> <div style="margin-top: 1%;"></div> <!-- เว้นบรรทัด -->',

            '<button type="submit" class="ui fluid button" onclick="submitlogin()" style="width:50%;" id="login2">Submit</button>',

        ].join('');
        var loginByUser = '<a href="/showbike" class="ui fluid button" style="width:50%;" id="login2">Login</a>';
        var loginByAdmin = '<a href="/admin" class="ui fluid button" style="width:50%;" id="login2">Login</a>';


        $('#login').click(function () {
            // alert(document.getElementById('pauseValue').innerHTML);
            if (document.getElementById('fromlogin2').innerHTML == "") {
                document.getElementById('fromlogin2').innerHTML = fromlogin;
                // timer.pause();
            } else if (document.getElementById('fromlogin2').innerHTML != "") {
                document.getElementById('fromlogin2').innerHTML = "";
                // timer.start();
            }
        });
        function submitlogin() {
            var $email = document.getElementById("email").value;
            var $password = document.getElementById("password").value;
            $.ajax({
                type: 'POST',
                url: '/login',
                data: {
                    '_token': $('input[name=_token]').val(),
                    'email': $email,
                    'password': $password,
                },
                success: function (data) {
                    console.log(data);
                    if (data == "Admin") { // if true (1)
                        setTimeout(function () {// wait for 1 secs(2)
                            window.location.replace("/admin"); // then reload the page.(3)
                        }, 1);
                    }
                    else if (data == "PreUser") { // if true (1)
                        swal("You have not been approved yet.", "Please keep up the email for a response from the admin.", "info");
                    } else if (data == "User") {
                        setTimeout(function () {// wait for 1 secs(2)
                            window.location.replace("/showbike"); // then reload the page.(3)
                        }, 1);
                    } else if (data == "Requestor") {
                        swal({
                            title: "Please confirm your email.",
                            html: "you may see message in spam mail or junk mail, <br>If you don't receive confirm email from morcyc4you, Please click 'OK'",
                            showCancelButton: true
                        }).then((result) => {
                            if (result.value) {
                                var email = $("#email").val();
                                $.ajax({
                                    type: "POST",
                                    url: '/users/getemail',
                                    data: {
                                        '_token': $('input[name=_token]').val(),
                                        email: email
                                    },
                                    success: function (data) {
                                        if (data) {
                                            Swal(
                                                'Send email success',
                                                '',
                                                'success'
                                            )
                                        } else {
                                            swal(data);
                                        }
                                    }
                                });
                            }
                        });
                    }
                    else if (data == "password is incorrect") {
                        swal({
                            title: "Oops..",
                            html: data,
                            type: "warning",
                            footer: '<a href="#" id="forgetpassword">if you forget password click here</a>'
                        });
                    }
                    else {
                        swal("Error", data, "error");
                    }
                }
            });
        }


        $("#forgetpassword").on("click", function () {
            var email = $("#email").val();
            $.ajax({
                type: "POST",
                url: '/users/forgetpassword',
                data: {
                    '_token': $('input[name=_token]').val(),
                    email: email
                },
                success: function (data) {
                    if (data) {
                        Swal({
                            title: 'Send a new password success',
                            html: 'you can see a new password in your email.',
                            type: 'success'
                        });
                    } else {
                        swal(data);
                    }
                }
            });
        });
    </script>

</body>
<script>
    var mymap = L.map('mapLogin', {
        center: new L.LatLng(13.1192, 100.92066),
        zoom: 8,
        zoomControl: false
    });
    L.gridLayer.googleMutant({
        minZoom: 6,
        type: 'roadmap' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
    }).addTo(mymap);
    var polygon = [[21.22794, 90.79102], [3.73271, 90.79102], [4.82826, 115.00488], [21.30985, 115.00488]];

    var json = '<%- JSON.stringify(zone) %>';
    window.onload = function () {
        if (json == '') {
            location.reload();
        }
    };
    // var json = JSON.parse(htmlDecode("<%= JSON.stringify(zone) %>"));
    var dbzone = JSON.parse(json);
    dbzone = dbzone[0]['zone'];
    console.log(dbzone);
    var setArea = L.polygon(dbzone).addTo(mymap);
    setArea.setStyle({ "fillOpacity": 0, color: 'red' });
    mymap.setMaxBounds(polygon);
    // mymap.addControl(L.control.locate({
    //     // iconUrl: '/images/markar.png',
    //     locateOptions: {
    //         enableHighAccuracy: true
    //     }
    // }));
    var greenIcon = L.icon({
        iconUrl: '/images/rsz_blue.png',
        // shadowUrl: 'leaf-shadow.png',
        iconSize: [42, 94], // size of the icon
    });
    var userIcon = L.icon({
        iconUrl: '/images/user_icon.png',
        iconSize: [50, 50], // size of the icon
    });

    var mylat;
    var mylng;
    var current_position, current_accuracy;

    function onLocationFound(e) {
        // if position defined, then remove the existing position marker and accuracy circle from the map
        if (current_position) {
            mymap.removeLayer(current_position);
            // mymap.removeLayer(current_accuracy);
        }

        var radius = e.accuracy / 2;

        mylat = e.latlng.lat;
        mylng = e.latlng.lng;
        current_position = L.marker(e.latlng, { icon: userIcon }).addTo(mymap);
        // current_position = L.marker(e.latlng, { icon: userIcon }).addTo(mymap)
        //     .bindPopup("You are within " + radius + " meters from this point").openPopup();

        // current_accuracy = L.circle(e.latlng, radius).addTo(mymap);
    }

    function onLocationError(e) {
        if (e.message != null) {
            if (e.message == "Geolocation error: Timeout expired.") {
                console.log(e.message);
            } else {
                console.log(e.message);
            }
        }

    }

    mymap.on('locationfound', onLocationFound);
    mymap.on('locationerror', onLocationError);

    function locate() {
        mymap.locate({ setView: true, maxZoom: 10 });
    }

    setInterval(function () {
        locate();
    }, 1000);

    var morcyc = JSON.parse('<%- JSON.stringify(morcyc) %>');

    for (var i = 0; i < morcyc.length; i++) {
        var lat = parseFloat(morcyc[i]['latlng']['lat']);
        var lng = parseFloat(morcyc[i]['latlng']['lng']);
        var name = morcyc[i]['name'];

        if (morcyc[i]['using'] != "yes") {
            // console.log(morcyc[i]['name']+" "+lat+" "+lng);
            var m1 = L.marker([lat, lng], { icon: greenIcon, morcycId: morcyc[i]['_id'] }).addTo(mymap);
        }
    }
</script>

</html>