<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <div class="row">

            <div class="col-md-6">
                <!-- เว้นบรรทัด -->
                <div style="margin-top: 10%;"></div>
                <!-- เว้นบรรทัด -->
                <center>
                    <img src="/images/tile2.png" style="height: 50%; width: 50%">
                </center>
            </div>


            <div class="col-md-6">
                <!-- เว้นบรรทัด -->
                <div style="margin-top: 10%;"></div>
                <!-- เว้นบรรทัด -->
                <center>
                    <div class="ui large buttons">
                        <button class="ui button" id="login" style="border-radius: 5px;">Sign in</button>
                        <div class="or"></div>
                        <a href="/register">
                            <button class="ui button">Register</button>
                        </a>
                    </div>
                    <!-- <form action="/login" method="post"> -->
                    <div id="fromlogin2"></div>
                    <!-- </form> -->
                </center>


            </div>

        </div>


        <script>

            var fromlogin = [

                '<!-- เว้นบรรทัด --> <div style="margin-top: 1%;"></div> <!-- เว้นบรรทัด -->',
                '<H1> LOG-IN </H1>',

                '<div class="ui left icon input fluid" style="width:230px"><i class="user icon"></i><input type="email" name="email" placeholder="E-mail address" id="email" required></div>', '<br>',
                '<div class="ui left icon input fluid" style="width:230px"><i class="lock icon"></i><input type="password" name="password" placeholder="Password" id="password" required></div>',

                '<!-- เว้นบรรทัด --> <div style="margin-top: 1%;"></div> <!-- เว้นบรรทัด -->',

                '<button type="submit" class="ui fluid button" onclick="submitlogin()" style="width:50%;" id="login2">Submit</button>',

            ].join('');
            var loginByUser = '<a href="/showbike" class="ui fluid button" style="width:50%;" id="login2">Login</a>';
            var loginByAdmin = '<a href="/admin" class="ui fluid button" style="width:50%;" id="login2">Login</a>';


            $('#login').click(function () {
                // alert(document.getElementById('pauseValue').innerHTML);
                if (document.getElementById('fromlogin2').innerHTML == "") {
                    document.getElementById('fromlogin2').innerHTML = fromlogin;
                    // timer.pause();
                } else if (document.getElementById('fromlogin2').innerHTML != "") {
                    document.getElementById('fromlogin2').innerHTML = "";
                    // timer.start();
                }
            });
            function submitlogin() {
                var $email=document.getElementById("email").value;
                var $password=document.getElementById("password").value;
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: {
                        '_token': $('input[name=_token]').val(),
                        'email': $email,
                        'password': $password,
                    },
                    success: function (data) {
                        console.log(data);
                        if (data == "Admin") { // if true (1)
                            setTimeout(function () {// wait for 1 secs(2)
                                window.location.replace("/admin"); // then reload the page.(3)
                            }, 1);
                        }
                        else if (data == "PreUser") { // if true (1)
                            swal("You have not been approved yet.", "Please keep up the email for a response from the admin.", "info");
                        }else if(data == "User"){
                            setTimeout(function () {// wait for 1 secs(2)
                                window.location.replace("/showbike"); // then reload the page.(3)
                            }, 1);
                        }else if(data == "Requestor"){
                            swal("Please confirm your email.", "you may see message in spam mail or junk mail", "info");
                        }else{
                            swal("Error", data, "error");
                        }
                    }
                });
            }

        </script>
</body>

</html>