<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<% include alertscript.ejs %>
<body>
    <% include navbar.ejs %>
        <div style="margin: 5%">
            <form class="ui form" method="POST" action="/morcyc" encType="multipart/form-data">
                <h1 class="ui dividing header">Add Motorcycle</h1>

                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>ID</label>
                                <input type="text" name="ID" placeholder="0000xx">
                            </div>

                            <div class="field">
                                <label>Name</label>
                                <input type="text" name="Name" placeholder="ไอ้ติ๋ม">
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Brand</label>
                                <input type="text" name="Brand" placeholder="Click I">
                            </div>

                            <div class="field">
                                <label>Status</label>
                                <input type="text" name="Status" placeholder="ปกติ">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 1 END -->

                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Lat</label>
                                <input type="text" name="Lat" placeholder="13.000000">
                            </div>

                            <div class="field">
                                <label>Lng</label>
                                <input type="text" name="Lng" placeholder="100.000000">
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Plate</label>
                                <input type="text" name="plate" placeholder="กข167">
                            </div>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="file-upload">
                        1.ภาพรถ(หน้า)
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picFront" style="width: 225px">
                        <br>
                        <br> 2.ภาพรถ(หลัง)
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picBack" style="width: 225px">
                        <br>
                        <br> 3.ทะเบียนชัดๆ
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picPlate" style="width: 225px">
                    </div>
                </div>
        </div>


        <center>
            <button type="submit" class="positive ui button">บันทึก</button>
            <br>
            <br>
        </center>
        </form>
</body>

</html>