<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <script src="https://cdn.netpie.io/microgear.js"></script>
</head>
<% include alertscript.ejs %>
    <div>
        <br>
        <br>
        <br>
    </div>

    <body>
        <% include navbar.ejs %>
            <div style="margin: 5%">
                <form class="ui form" method="POST" action="/morcyc" encType="multipart/form-data">
                    <h1 class="ui dividing header">Add Motorcycle</h1>

                    <div class="two fields">
                        <div class="field">
                            <label>Plate</label>
                            <input type="text" name="plate" placeholder="กข167" required>
                        </div>
                        <div class="field">
                            <label>Brand</label>
                            <input type="text" name="Brand" placeholder="Click I" required>
                        </div>

                    </div>

                    <!-- 1 END -->

                    <div class="three fields">
                        <div class="field">
                            <label>Lat</label>
                            <input type="text" name="Lat" id="lat" placeholder="13.000000" required>
                        </div>

                        <div class="field">
                            <label>Lng</label>
                            <input type="text" name="Lng" id="lng" placeholder="100.000000" required>
                        </div>
                        <div class="field">
                            <label>Get Position from motorcycle</label>
                            <input type="button" class="ui button getPos" value="Get Position">
                        </div>
                    </div>

                    <div>
                        <div class="file-upload">
                            1. In front of motorcycle
                            <br>
                            <input id="upload" class="file-upload__input" type="file" name="picFront" style="width: 225px" required>
                            <br>
                            <br> 2. Back of motorcycle
                            <br>
                            <input id="upload" class="file-upload__input" type="file" name="picBack" style="width: 225px" required>
                            <br>
                            <br> 3.License plate
                            <br>
                            <input id="upload" class="file-upload__input" type="file" name="picPlate" style="width: 225px" required>
                        </div>
                    </div>
            </div>


            <center>
                <button type="submit" class="positive ui button">Save</button>
                <br>
                <br>
            </center>
            </form>
    </body>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }
        function showPosition(position) {
            $("#lat").text(position.coords.latitude);
            $("#lng").text(position.coords.longitude);
        }
    </script>

</html>