<script>
    var mymap = L.map('map', {
        center: new L.LatLng(13.1192, 100.92066),
        zoom: 16
    });
    var polygon = [[21.22794, 90.79102], [3.73271, 90.79102], [4.82826, 115.00488], [21.30985, 115.00488]];

    var json = '<%- JSON.stringify(zone) %>';
    window.onload = function () {
        if (json == '') {
            location.reload();
        }
    };

    var dbzone = JSON.parse(json);
    dbzone = dbzone[0]['zone'];
    console.log(dbzone);
    var setArea = L.polygon(dbzone).addTo(mymap);
    setArea.setStyle({ "fillOpacity": 0, color: 'red' });
    mymap.setMaxBounds(polygon);


    L.gridLayer.googleMutant({
        minZoom: 6,
        type: 'roadmap' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
    }).addTo(mymap);

    mymap.addControl(L.control.locate({
        locateOptions: {
            enableHighAccuracy: true
        },
        position : 'bottomright'
    }));
    mymap.zoomControl.setPosition('bottomleft');



    var greenIcon = L.icon({
        iconUrl: '/images/rsz_blue.png',
        // shadowUrl: 'leaf-shadow.png',
        iconSize: [42, 94], // size of the icon
    });
    var userIcon = L.icon({
        iconUrl: '/images/user_icon.png',
        iconSize: [50, 50], // size of the icon
    });

    var mylat;
    var mylng;
    var current_position, current_accuracy;

    function onLocationFound(e) {
        // if position defined, then remove the existing position marker and accuracy circle from the map
        if (current_position) {
            mymap.removeLayer(current_position);
        }

        var radius = e.accuracy / 2;

        mylat = e.latlng.lat;
        mylng = e.latlng.lng;
        current_position = L.marker(e.latlng, { icon: userIcon }).addTo(mymap);
    }

    function onLocationError(e) {
        if (e.message != null) {
            if (e.message == "Geolocation error: Timeout expired.") {
                console.log(e.message);
            } else {
                console.log(e.message);
            }
        }

    }

    mymap.on('locationfound', onLocationFound);
    mymap.on('locationerror', onLocationError);

    // wrap map.locate in a function    
    function locate() {
        mymap.locate({ setView: false, maxZoom: 16 });
    }


    var lat;
    var lng;
    var routing;
    var clickMarker = false;
    var morcyc = JSON.parse('<%- JSON.stringify(morcyc) %>');
    // console.log(morcyc);
    // locate();
    setInterval(function () {
        locate();
    }, 1000);
    for (var i = 0; i < morcyc.length; i++) {
        var lat = parseFloat(morcyc[i]['latlng']['lat']);
        var lng = parseFloat(morcyc[i]['latlng']['lng']);
        var name = morcyc[i]['plate'];

        if (morcyc[i]['using'] != "yes") {
            var m1 = L.marker([lat, lng], { icon: greenIcon, morcycId: morcyc[i]['_id'], morcycData: morcyc[i] }).addTo(mymap).bindPopup(name).on('click', function (e) {
                document.getElementById("booking").disabled = false;
                document.getElementById("repairing").disabled = false;
                var dataid = e.target.options["morcycId"];
                var morcycData = e.target.options["morcycData"];
                $("#repairing").data('id', dataid);
                $("#booking").data('id', dataid);
                $(".plate").remove();
                $(".brand").remove();
                var plate = '<div class="ui modal plate" style="height:50%;"><i class="close icon"></i><img src="https://s3.amazonaws.com/morcyc4you/motorcycle/' + dataid + '/' + morcycData['pictures']['picPlate'] + '" style="max-width:100%; max-height:100%;"></div>';
                var brand = '<div class="ui modal brand" style="height:50%;"><i class="close icon"></i><img src="https://s3.amazonaws.com/morcyc4you/motorcycle/' + dataid + '/' + morcycData['pictures']['picFront'] + '" style="max-width:100%; max-height:100%;"></div>';
                $("body").append(plate + brand);
                swal({
                    title : "MENU",
                    html : "<p>Brand : " + morcycData['brand'] + " <button class='ui button' onclick='getBrand()'>view</button></p> <p> License plate : " + morcycData['plate'] + " <button class='ui button' onclick='getPlate()'>view</button></p>"+
                    "<a href='/repair/"+dataid+"'><button class='ui primary button' id='repairing' onclick='clickRepair()'>Repair</button></a><br>"+
                    "<button class='ui primary button' id='booking' data-id="+dataid+">Booking</button><br>"+
                    "<a href='/users/changepassword'><button class='ui primary button'>Change your password</button></a>"
                });
                console.log("morcycId : " + e.target.options["morcycId"]);
                if (routing != null) {
                    routing.spliceWaypoints(0, 2);
                    mymap.removeControl(routing);
                }
                lat = e.latlng.lat;
                lng = e.latlng.lng;
                clickMarker = true;
                var ways = {
                    waypoints:
                        [
                            L.latLng(mylat, mylng),
                            L.latLng(lat, lng)
                        ]
                };
                routing = L.Routing.control(ways).addTo(mymap);
                // mymap.removeControl(routing);
            });
            console.log("plate: " + morcyc[i]['plate'] + " " + setArea.contains(m1.getLatLng()));
        }
    }

    $(document).on("click touchstart tap", "#booking", function () {
        if (document.getElementById("booking").disabled == false) {
            var morcycID = $("#booking").data("id");
            $.ajax({
                type: "POST",
                url: "/booking",
                data: {
                    '_token': $('input[name=_token]').val(),
                    morcycID: morcycID
                },
                success: function (data) {
                    if (data) {
                        window.location.replace("/start");
                    } else {
                        swal(data);
                    }
                }
            });
        }
    });
    function onMapClick(e) {
        document.getElementById("booking").disabled = true;
        $(".boxBooking").html("");
        $("#booking").data('id', "");
        document.getElementById("repairing").disabled = true;
        $("#repairing").data('id', "");
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        if (routing != null) {
            routing.spliceWaypoints(0, 2);
            mymap.removeControl(routing);
        }
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        clickMarker = true;
        var ways = {
            waypoints:
                [
                    L.latLng(mylat, mylng),
                    L.latLng(lat, lng)
                ]
        };
        console.log(ways);
        // alert(lat + "," + lng);
        routing = L.Routing.control(ways).addTo(mymap);
        // mymap.removeControl(routing);
    }
    mymap.on('click', onMapClick);



</script>