<div class="ui fixed inverted menu" style="z-index: 100;">
    <a class="item" HREF="javascript:history.back()">
        Back
    </a>
    <center>
        <div id="google_translate_element"></div>
    </center>
    <div class="right menu">
        <a href="/logout" class="ui item">
            Logout
        </a>
    </div>
</div>
<div class="ui secondary pointing menu">

</div>