<div class="ui fixed inverted menu" style="z-index: 100;">
    <a class="item" HREF="javascript:history.back()">
        Back
    </a>
    <div id="google_translate_element" class="ui item"></div>

    <div class="right menu">
        <!-- <a href="/logout" class="ui item">
            Logout
        </a> -->
        <div id="batteryLevel" class="ui item" style="padding: auto;">

        </div>
        <div class="ui item setting">
            <font size="5">
                <i class="cogs icon"></i>
            </font>
        </div>

    </div>
</div>

<script>
    function findadmin(msg) {
        return msg == "admin";
    }
    $(".setting").on("click", function () {
        var url = window.location.href;
        url = url.split("/");
        console.log(url.find(findadmin));
        if (url.find(findadmin) == "admin") {
            swal({
                title: "MENU",
                html: "<div class='ui two column grid'>" +
                    "<div class='column'>" +
                    "<a href='/'><button class='ui primary button'>Home</button></a><br><br>" +
                    "<a href='/users/changepassword'><button class='ui primary button'>Change password</button></a><br><br>" +
                    "<a href='/historyUser'><button class='ui primary button'>History</button></a><br><br>" +
                    "<a href='/admin/history'><button class='ui primary button'>Log</button></a><br><br>" +
                    "</div>" +
                    "<div class='column'>" +
                    "<a href='/admin/listname'><button class='ui primary button'>Member list</button></a><br><br>" +
                    "<a href='/admin/listmotorcycle'><button class='ui primary button'>Motorcycle list</button></a><br><br>" +
                    "<a href='/admin/morcyc'><button class='ui primary button'>Add motorcycle</button></a><br><br>" +
                    "<a href='/logout'><button class='ui primary button'>Logout</button></a>" +
                    "</div>" +
                    "</div>",
                showConfirmButton: false,
                showCancelButton: true
            });
        } else {
            swal({
                title: "MENU",
                html: "<a href='/'><button class='ui primary button'>Home</button></a><br><br>" +
                    "<a href='/users/changepassword'><button class='ui primary button'>Change password</button></a><br><br>" +
                    "<a href='/historyUser'><button class='ui primary button'>History</button></a><br><br>" +
                    "<a href='/logout'><button class='ui primary button'>Logout</button></a>",
                showConfirmButton: false,
                showCancelButton: true
            });
        }


    });
    navigator.getBattery().then(function (battery) {
        function updateAllBatteryInfo() {
            updateChargeInfo();
            updateLevelInfo();
            updateChargingInfo();
            updateDischargingInfo();
        }
        updateAllBatteryInfo();

        battery.addEventListener('chargingchange', function () {
            updateChargeInfo();
        });
        function updateChargeInfo() {
            console.log("Battery charging? "
                + (battery.charging ? "Yes" : "No"));
        }

        battery.addEventListener('levelchange', function () {
            updateLevelInfo();
        });
        function updateLevelInfo() {
            console.log("Battery level: "
                + battery.level * 100 + "%");
            var batt = battery.level * 100;
            if (batt >= 50) {
                $("#batteryLevel").html("<font color='green' size='8'><i class='battery full icon'></i></font>");
            } else if (batt > 30 && batt < 50) {
                $("#batteryLevel").html("<font color='orange' size='8'><i class='battery half icon'></i></font>");
            } else {
                swal("Battery low!!");
                $("#batteryLevel").html("<font color='red' size='8'><i class='battery quarter icon'></i></font>");
            }

        }

        battery.addEventListener('chargingtimechange', function () {
            updateChargingInfo();
        });
        function updateChargingInfo() {
            console.log("Battery charging time: "
                + battery.chargingTime + " seconds");
        }

        battery.addEventListener('dischargingtimechange', function () {
            updateDischargingInfo();
        });
        function updateDischargingInfo() {
            console.log("Battery discharging time: "
                + battery.dischargingTime + " seconds");
        }

    });
</script>