<div class="ui fixed inverted menu" style="z-index: 100;">
    <a class="item" HREF="javascript:history.back()">
        Back
    </a>
    <center>
        <div id="google_translate_element"></div>
    </center>
    <div id="batteryLevel" style="padding: auto;">
        
    </div>
    <div class="right menu">
        <a href="/logout" class="ui item">
            Logout
        </a>
    </div>
</div>
<script>
    navigator.getBattery().then(function (battery) {
        function updateAllBatteryInfo() {
            updateChargeInfo();
            updateLevelInfo();
            updateChargingInfo();
            updateDischargingInfo();
        }
        updateAllBatteryInfo();

        battery.addEventListener('chargingchange', function () {
            updateChargeInfo();
        });
        function updateChargeInfo() {
            console.log("Battery charging? "
                + (battery.charging ? "Yes" : "No"));
        }

        battery.addEventListener('levelchange', function () {
            updateLevelInfo();
        });
        function updateLevelInfo() {
            console.log("Battery level: "
                + battery.level * 100 + "%");
            var batt = battery.level * 100;
            if(batt>=50){
                $("#batteryLevel").html("<font color='green' size='5'><i class='battery full icon'></i></font>");
            }else if(batt>30 && batt <50){
                $("#batteryLevel").html("<font color='orange' size='5'><i class='battery half icon'></i></font>");
            }else{
                $("#batteryLevel").html("<font color='red' size='5'><i class='battery quarter icon'></i></font>");
            }
            
        }

        battery.addEventListener('chargingtimechange', function () {
            updateChargingInfo();
        });
        function updateChargingInfo() {
            console.log("Battery charging time: "
                + battery.chargingTime + " seconds");
        }

        battery.addEventListener('dischargingtimechange', function () {
            updateDischargingInfo();
        });
        function updateDischargingInfo() {
            console.log("Battery discharging time: "
                + battery.dischargingTime + " seconds");
        }

    });
</script>