<div class="ui secondary pointing menu">
    <a class="item" HREF="javascript:history.back()">
        Back
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>
</div>