<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <!-- microgear -->
        <script src="https://cdn.netpie.io/microgear.js"></script>
        <script src="https://raw.githubusercontent.com/netpieio/microgear-html5/master/src/index.js"></script>
        <!-- microgear END -->
        <h1>latlng</h1>
        <div id="data"></div>
        <h1 id="data2"></h1>
        <script>
            const APPID = "TestMotorcleRental";
            const APPKEY = "Y2namlNHkTnJDmo";
            const APPSECRET = "Ndkj0aIOUy0Vn3Xcrdm1BEWDk";

            var microgear = Microgear.create({
                key: APPKEY,
                secret: APPSECRET,
                alias: "web"         /*  optional  */
            });

            microgear.on('message', function (topic, msg) {
                //console.log("in receive");
                console.log(topic);
                document.getElementById("data").innerHTML = msg;
            });

            microgear.on('connected', function () {
                microgear.setAlias('web');    /* alias can be renamed anytime with this function */
                document.getElementById("data").innerHTML = "Now I am connected with netpie...";
                setInterval(function () {
                    // microgear.chat("GPS_Testing","Hello from myself at ");
                    //microgear.subscribe("/latlng");
                    //microgear.publish("/web", "Connected with ibike");
                    microgear.publish("/outdoor/humid","56");
                    microgear.chat("GPSTesting","ON");
                }, 1000);
            });

            microgear.on('present', function (event) {
                console.log(event);
            });

            microgear.on('absent', function (event) {
                console.log(event);
            });

            microgear.connect(APPID);
        </script>
</body>

</html>