<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <!-- microgear -->
        <script src="https://cdn.netpie.io/microgear.js"></script>
        <script src="https://raw.githubusercontent.com/netpieio/microgear-html5/master/src/index.js"></script>
        <!-- microgear END -->

        <h1>NetpieData</h1>
        <input type="checkbox" id="unlock">
        <button id="start">Start Engine</button>
        <br>
        <div id="data"></div>
        <br>
        <div id="data2"></div>
        <br>
        <script>
            var command = "";
            $("#start").on("click",function(){
                console.log("start engine");
                console.log(command);
                microgear.publish("/startengine",command);
                ackDevice="0";
                
            });
            $("#unlock").change(function(){
                if(this.checked){
                    command = "1";
                }else{
                    command = "0";
                }
                

            });
            var APPID = "CMRM";
            var APPKEY = "Q22q476p7toHHLD";
            var APPSECRET = "x2ttOOD1vJqbqN5M9sJFdJO6Q";
            var ALIAS = "web";

            var microgear = Microgear.create({
                key: APPKEY,
                secret: APPSECRET,
                alias: ALIAS /*  optional  */
            });
            var ackDevice = "";
            microgear.on('message', function (topic, msg) {
                //console.log("in receive");
                console.log(topic);
                if(msg == "0"){
                    ackDevice = "0";
                    console.log("ack "+ ackDevice);
                    document.getElementById("data2").innerHTML = msg;
                }else if(msg == "1"){
                    ackDevice = "1";
                    console.log("ack "+ ackDevice);
                    document.getElementById("data2").innerHTML = msg;
                }
                document.getElementById("data").innerHTML = msg;
            });

            microgear.on('connected', function () {
                microgear.setAlias(ALIAS); /* alias can be renamed anytime with this function */
                document.getElementById("data").innerHTML = "Now I am connected with netpie...";
                setInterval(function () {
                    // microgear.chat("GPS_Testing","Hello from myself at ");
                    microgear.subscribe("/TestPub");
                    microgear.subscribe("/ackDevice");
                    microgear.publish("/ByWeb", "Connected with ibike");
                    microgear.chat("CMRM_Web", "Chat with ibike");
                    if(ackDevice == "0"){
                        microgear.publish("/startengine", command); 
                    }
                    // microgear.publish("/outdoor/humid","56");
                    // microgear.chat("GPSTesting","ON");
                }, 1000);
            });

            microgear.on('present', function (event) {
                console.log(event);
            });

            microgear.on('absent', function (event) {
                console.log(event);
            });

            microgear.connect(APPID);
        </script>
</body>

</html>