<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <!-- <script src="https://raw.githubusercontent.com/Semantic-Org/UI-Checkbox/master/checkbox.min.js"></script>
    <script src="https://raw.githubusercontent.com/Semantic-Org/UI-Checkbox/master/checkbox.js"></script> -->

</head>

<body>
    <% include navbar.ejs %>
        <form class="ui form">
            <div class="row">

                <div class="col-md-6">
                    <!-- เว้นบรรทัด -->
                    <div style="margin-top: 10%;"></div>
                    <!-- เว้นบรรทัด -->
                    <div style="margin: 5%">
                        <div class="field">
                            <label>Bike ID
                                <font color="red">*</font>
                            </label>
                            <input>
                        </div>
                    </div>
                    <center>
                        <img src="/images/1169199694.png" style="height: 50%; width: 80%">
                    </center>
                </div>


                <div class="col-md-6">
                    <!-- เว้นบรรทัด -->
                    <div style="margin-top: 10%;"></div>
                    <!-- เว้นบรรทัด -->
                    
                    <div style="margin:5%">
                        <div style="display: inline-block; margin:0%; width:40%;" >
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Brake light</label>
                            </div>
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Tire</label>
                            </div>

                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Dial</label>
                            </div>
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Brake</label>
                            </div>
                        </div>
                        <div style="display: inline-block; margin:0%; width:40%;">
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Turn signal</label>
                            </div>
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Headlight</label>
                            </div>

                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Gasoline</label>
                            </div>
                            <div>
                                <input type="checkbox" name="example" class="ui checkbox">
                                <label>Horns</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui from">
                        <div class="field" style="margin:5%" >
                            <label>Detail</label>
                            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 50px;"></textarea>
                        </div>
                    </div>
                    <center>
                    <div>
                            <button class="ui primary button">
                                    Submit
                            </button>
                            <button class="ui button">
                                    Clear
                                  </button>
                    </div>
                </center>



                </div>

            </div>
        </form>


        <script>

        </script>
</body>

</html>