<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<body>
    <% include navbar.ejs %>
    <div id="data"></div>
        <div align="center" class="top">
            <div style="display: inline-block; margin:0%; width:29%;">
                <font size=4>Distance</font>
                <br>
                <font size=4>00.00</font>
                <br>
                <font size=2>Kilometer</font>
            </div>
            <div style=" display: inline-block; margin:0%; width:29%;">
                <font size=4>Time</font>
                <br>
                <font size=4 id="timer">00:00:00</font>
                <br>
                <font size=2>hh:mm:ss</font>
            </div>
            <div style=" display: inline-block; margin:0%; width:29%;">
                <font size=4>Cost</font>
                <br>
                <font size=4 id="cost">0</font> <font size=3 id="cost">Baht</font>
                <br>
                <font size=2 id="money">0.03</font><font size=2 > B/s</font>
            </div>
        </div>
        <div id="ridingMap"></div>
        <div align="center" class="bot">
            <a class="button green ui" id="pauseButton" style="display: inline-block; margin:0%; width:49%;">
                <p style="font-size:150%;" id="pauseValue">Pause</p>
            </a>
            <!-- <a href="/showbike" id="stopButton" class="button red ui" style="display: inline-block; margin:0%; width:49%;">
                <p style="font-size:150%;">Stop</p>
            </a> -->
            <a id="stopButton" class="button red ui" style="display: inline-block; margin:0%; width:49%;">
                <p style="font-size:150%;">Stop</p>
            </a>
        </div>

        <script>
            var marker;
            var map;
            function initMap() {
                var myLatLng = { lat: 13.120, lng: 100.919 };

                map = new google.maps.Map(document.getElementById('ridingMap'), {
                    zoom: 16,
                    center: myLatLng
                });

                marker = new google.maps.Marker({
                    position: { lat: 13.120, lng: 100.919 },
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'you are here'
                });
                marker.addListener('click', toggleBounce);
            }
            function toggleBounce() {
                if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }
            
            setInterval(function(){
                var infoWindow = new google.maps.Marker;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                            };
                            marker.setMap(null);
                            marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                icon: '/images/user50x50.png',
                                // animation: google.maps.Animation.DROP,
                                title: 'you are here'
                            });
                            map.setCenter(pos);
                        }, function() {
                            handleLocationError(true, marker, map.getCenter());
                        });
                        } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, marker, map.getCenter());
                        }
            },1000);
            function handleLocationError(browserHasGeolocation, marker, pos) {
                marker.setPosition(pos);
                // alert(browserHasGeolocation ?
                //                     'Error: The Geolocation service failed.' :
                //                     'Error: Your browser doesn\'t support geolocation.');
                // infoWindow.open(map);
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3gga67g_fXhRofEIdiQOXv8Yqf9vDkdc&callback=initMap">
        </script>

        <script>
            var timer = new Timer();
            var money = 0.03;
            var total=0;
            timer.start();
            timer.addEventListener('secondsUpdated', function (e) {
                var fulltime = timer.getTimeValues().toString();
                var delTime = fulltime.split(':')[0] + ":" + fulltime.split(':')[1];
                $('#timer').html(fulltime);
            });
            setInterval(function(){
                total += money;
                total = Math.round(total * 100) / 100;
                $('#cost').html(total);
            },1000);
            $('#pauseButton').click(function () {
                // alert(document.getElementById('pauseValue').innerHTML);
                if (document.getElementById('pauseValue').innerHTML == "Pause") {
                    $("#pauseButton").attr("class", "button blue ui");
                    document.getElementById('pauseValue').innerHTML = "";
                    document.getElementById('pauseValue').innerHTML = "Continue";
                    document.getElementById('money').innerHTML = "";
                    document.getElementById('money').innerHTML = "0.01";
                    money = 0.01;
                    // timer.pause();
                } else if (document.getElementById('pauseValue').innerHTML == "Continue") {
                    $("#pauseButton").attr("class", "button green ui");
                    document.getElementById('pauseValue').innerHTML = "";
                    document.getElementById('pauseValue').innerHTML = "Pause";
                    document.getElementById('money').innerHTML = "";
                    document.getElementById('money').innerHTML = "0.03";
                    money = 0.03;
                    // timer.start();
                }

            });

        </script>
        <% include netpiescript.ejs %>
        <script>
            setInterval(function(){
                console.log("working");
                microgear.publish("/working", "1");
                // microgear.subscribe("/ackDevice");
            },1000);
        </script>
</body>

</html>