<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <% include mapscript.ejs %>

</head>

<body>
    <% include navbar.ejs %>
        <div id="map"></div>
        <% include mymap.ejs %>
            




</body>


</html>