<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <% include mapscript.ejs %>

</head>

<body>
    <% include navbar.ejs %>
        <div id="map"></div>

        <% include mymap.ejs %>
        <!-- <p id="zone"><%= zone %></p> -->
        <div>
            <center>
                <div class="ui large buttons">
                    <button class="ui primary button" id="booking" data-id="" disabled> Booking </button>
                    <div class="or"></div>
                    <button class="ui primary button" onclick="clickRepair()" data-id="" disabled> Repair </button>
                </div>
                <p>
                    
                </p>
                <br>
                <!-- <button class="ui primary button" onclick="swal('hello')" > alert </button> -->
            </center>
        </div>
</body>

</html>