<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <div id="map"></div>

        <script>
            var mymap = L.map('map', {
                center: new L.LatLng(13.1192, 100.92066),
                zoom: 16
            });
            mymap.setMaxBounds([
                [21.22794, 90.79102],
                [21.30985, 115.00488],
                [3.73271, 90.79102],
                [4.82826, 115.00488]
            ]);
            L.gridLayer.googleMutant({
                minZoom: 6,
                type: 'roadmap' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
            }).addTo(mymap);

            // var greenIcon = new LeafIcon({iconUrl: '/images/markar.png'});

            mymap.addControl(L.control.locate({
                // iconUrl: '/images/markar.png',
                locateOptions: {
                        enableHighAccuracy: true
            }}));

            var greenIcon = L.icon({
                iconUrl: '/images/rsz_blue.png',
                // shadowUrl: 'leaf-shadow.png',
                iconSize:     [42, 94], // size of the icon
            });

            
            L.marker([13.1192, 100.92066],{icon: greenIcon}).addTo(mymap)
                .bindPopup(' Hi, I LOVE YOU ');
                // .openPopup();
            L.marker([13.1193, 100.92062],{icon: greenIcon}).addTo(mymap)
                .bindPopup(' Hi, I LOVE YOU ');
            L.marker([13.1194, 100.92059],{icon: greenIcon}).addTo(mymap)
                .bindPopup(' Hi, I LOVE YOU ');
            L.marker([13.1195, 100.92055],{icon: greenIcon}).addTo(mymap)
                .bindPopup(' Hi, I LOVE YOU ');
            L.marker([13.1196, 100.92051],{icon: greenIcon}).addTo(mymap)
                .bindPopup(' Hi, I LOVE YOU ');

        </script>

        <div>
            <center>
                <a href="/price">
                    <button class="ui primary button"> Booking </button>
                </a>
            </center>
        </div>
</body>

</html>