<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <% include mapscript.ejs %>

</head>

<body>
    <% include navbar.ejs %>
        <div id="map"></div>
        <% include mymap.ejs %>

            <div class="boxBooking"></div>
            




</body>
<script>
    function getPlate() {
        $('.ui.modal.plate')
            .modal('show')
            ;

    }
    function getBrand() {
        $('.ui.modal.brand')
            .modal('show')
            ;

    }

</script>

</html>