<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <% include mapscript.ejs %>

</head>

<body>
    <% include navbar.ejs %>
        <div id="map"></div>

        <% include mymap.ejs %>
        <!-- <p id="zone"><%= zone %></p> -->
        <div>
            <center>
                <p>
                    <button class="ui primary button" id="booking" data-id="" disabled> Booking </button>
                </p>
                <br>
                <button class="ui primary button" onclick="swal('hello')" > alert </button>
            </center>
        </div>
</body>

</html>