<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>

</head>

<body>
    <center>


        <div id="data"></div>
        <div style="width:300px">

            <a id="start" style="display: none;">
                <img src="/images/start1.gif" onmouseover="  src = '/images/start2.gif'  " onmouseout="  src = '/images/start1.gif'  " style="width: 80%">
            </a>

            <div id="slider">
                <div id="slider_bg"></div>
                <span id="label">>></span>
                <span id="labelTip">Slide To Unlock</span>
            </div>


        </div>

        <!-- เว้นบรรทัด -->
        <div style="margin-top: 1%;"></div>
        <!-- เว้นบรรทัด -->


        <br>
        <button class="ui button" onclick="cancalBooking()" style="width: 30%">Cancel</button>



    </center>

</body>
<script>

    var unlockSuccess = false;
    $(function () {
        var slider = new SliderUnlock("#slider", {
            successLabelTip: "Unlock successfully",
            duration:  200
        }, function () {
            unlockSuccess = true;
            $("#start").attr("style", "");
        });

        slider.init();
    })
    function cancalBooking() {
        $.ajax({
            type: "POST",
            url: "/morcyc/cancelBooking",
            data: {
                '_token': $('input[name=_token]').val(),
            },
            success: function (data) {
                if (data) {
                    window.location.replace("/showbike");
                } else {
                    swal(data);
                }
            }
        });
    }
</script>


<% include netpiescript.ejs %>

</html>