<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>

<body>
    <% include navbar.ejs %>
        <div style="margin: 5%">
            <form class="ui form" method="POST" action="/register">
                <h1 class="ui dividing header">สมัครสมาชิก</h1>
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">

                        <div class="field">
                            <input type="text" name="firstName" placeholder="First Name">
                        </div>

                        <div class="field">
                            <input type="text" name="lastName" placeholder="Last Name">
                        </div>

                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>E-Mail</label>
                        <input type="text" name="email" placeholder="E-Mail">
                    </div>

                    <div class="field">
                        <label>เบอร์ติดต่อ</label>
                        <input type="text" name="tel" placeholder="088-2370814">
                    </div>

                </div>

                <div class="two fields">

                    <div class="field">
                        <label>UserName</label>
                        <input type="text" name="username" placeholder="UserName">
                    </div>

                    <div class="field">
                        <label>Password</label>
                        <div class="two fields">

                            <div class="field">
                                <input type="text" name="password" placeholder="Password">
                            </div>

                            <div class="field">
                                <input type="text" name="passwordConf" placeholder="Confirm Password">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>บ้านเลขที่</label>
                                <input type="text" name="number" placeholder="21/252">
                            </div>

                            <div class="field">
                                <label>หมู่</label>
                                <input type="text" name="moo" placeholder="3 ริมลาว">
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>ตำบล</label>
                                <input type="text" name="tumbol" placeholder="ป่าอ้อดอยชัย">
                            </div>

                            <div class="field">
                                <label>อำเภอ</label>
                                <input type="text" name="district" placeholder="เมือง">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>จังหวัด</label>
                                <input type="text" name="province" placeholder="เชียงราย">
                            </div>

                            <div class="field">
                                <label>รหัสไปรษณีย์</label>
                                <input type="text" name="postcode" placeholder="57000">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                    </div>

                </div>



                <div>
                    <div class="file-upload">
                        1.ภาพด้านหน้าบัตรใบขับขี่
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picFront" style="width: 225px">
                        <br>
                        <br> 2.ภาพด้านหลังบัตรใบขับขี่
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picBack" style="width: 225px">
                        <br>
                        <br> 3.ภาพเจ้าของบัตรถือใบขับขี่(เห็นหน้าในบัตรกับตัวจริงชัดเจน)
                        <br>
                        <input id="upload" class="file-upload__input" type="file" name="picOwn" style="width: 225px">
                    </div>
                </div>
        </div>


        <center>
            <button type="submit" class="positive ui button">สมัคร</button>
            <br>
            <br>
        </center>
        </form>
</body>

</html>